body {
    font-family:Georgia, 'Times New Roman', Times, serif; /* Familia de fuentes */
    font-size: 17px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #f0f0f0; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
    background-color: silver;
}
h1 {
    color: #ff0000; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
h2{
    color:  #b80d0dad; /* El color de la cabecera */
    font-size: 20px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
button{
    color: #33ff00; /* El color de la cabecera */
    font-size: 20px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    animation: color-change 3s infinite;
    animation: rotate 4s infinite;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



